header h2
{ 
    font-family:arial;
    text-align:center;
    color:darkmagenta;
    font-size: 50px;
}

header img
{
    width:100px;
    height:100px;
}

.rice
{
    border:3px solid red;
    width:330px;
    height:500px;
    margin-left:100px;
}

.wheat
{
    border:3px solid brown;
    width:330px;
    height:500px;
    margin-left:100px;
}

.maize
{
    border:3px solid yellow;
    width:330px;
    height:500px;
    margin-left:100px;
}

.sugarcane
{
    border:3px solid salmon;
    width:330px;
    height:500px;
    margin-left:100px;
}

.tea
{
    border:3px solid green;
    width:330px;
    height:500px;
    margin-left:100px;
}

.coffee
{
    border:3px solid chocolate;
    width:330px;
    height:500px;
    margin-left:100px;
  
}

.food
{
    display: grid;
    grid-template-columns:auto auto auto ;
}

.cash
{
    display: grid;
    grid-template-columns:auto auto auto ;
}

.rice p,.wheat p,.maize p,.sugarcane p,.tea p,.coffee p{
    font-size:20px;
    font-family: arial;
    background-color: aquamarine;
    color:darkmagenta;

  }

.cash{
    margin-top:50px;
}
